html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato" ,sans-serif;
    font-weight: 400px;
    line-height: 1.8em;
}
.pimage1{
    background-image: url(images/image1.png);
    min-height: 100%;
}
.pimage2{
    background-image: url(images/image2.png);
    min-height: 400px;
}
.pimage3{
    background-image: url(images/image3.png);
    min-height: 400px;
}

.pimage1,
.pimage2,
.pimage3{
    position: relative;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    text-align: center;
    letter-spacing:8px ;
    text-transform: uppercase;
}
.textBg{
    background: #313434;
    color:#FFFF ;
    padding: 20px;
}
.section{
    padding: 50px 80px;
    text-align: center;
    
}
.section-light{
    background-color: #FFFF;
    color: #313434;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}